.root {
  position: relative;
  padding: 0;
  height: 100%;
  min-height: 100vh;
  overflow: hidden;
  width: 100%;
  overflow-y: auto;
  background-color: #1a1a1b;
  -webkit-overflow-scrolling: touch;
}

.container {
  display: grid;
  height: 100%;
  grid-template-columns: 100%;
  grid-template-rows: min-content 900px 1fr;
  background-color: var(--primary-grey);
  background: linear-gradient(0deg, #353535 40%, #303030 50%, #252525  100%)
}

@media (min-width: 640px) {
  .container {
    grid-template-columns: 100%;
    grid-template-rows: min-content 600px 1fr;
  }
}

@media (min-width: 1024px) {
  .root {
    position: absolute;
    padding: 75px 0 90px 0;
  }

  .container {
    grid-template-columns: 1fr 2.2fr 1fr;
    grid-template-rows: 100%;
  }
}
