.root {
  display: block;
  cursor: pointer;
  outline: none;
  border: none;
  min-height: 36px;
  font-weight: 700;
  font-size: 16px;
  flex: 1;
  /* flex-basis: 50%; */
  /* font-family: burbank; */
  color: #fff;
  border-radius: 16px;
  text-transform: uppercase;
  text-align: center;
  transition: all 0.15s ease;
  box-shadow: 0 4px 6px rgba(10, 10, 10, 0.2), 0 1px 3px rgba(0, 0, 0, 0.08);
  background: var(--accent);
}

.root:hover {
  transform: translateY(-1px);
  box-shadow: 0 7px 14px rgba(10, 10, 10, 0.2), 0 3px 6px rgba(0, 0, 0, 0.1);
  background: var(--light-accent);
}

.root:active {
  transform: translateY(1px);
  box-shadow: 0 6px 12px -4px rgba(10, 10, 10, 0.3), 0 3px 7px -5px rgba(0, 0, 0, 0.3);
  background: var(--light-accent);
}

.large {
  /* height: 45px; */
  padding: 15px 20px !important;
}

.secondary {
  background: var(--red);
}

.secondary:hover {
  background: var(--light-red) !important;
}

.green {
  background: var(--green);
}
