.root {
  display: flex;
  flex-direction: column;
  padding: 50px 20px;
}

.hero {
  display: flex;
  height: 200px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container {
  max-width: 850px;
  background-color: var(--secondary-grey);
  padding: 25px;
  border-radius: 16px;
  margin: 20px auto;
  box-shadow: 0 7px 14px rgba(10, 10, 10, 0.2), 0 3px 6px rgba(0, 0, 0, 0.1);
}

.section {
  
}