.root {
  display: flex;
  /* position: relative; */
  flex-direction: column;
  width: 100%;
}

.container {
  display: flex;
  justify-content: center;
  width: 100%;
  max-width: 90%;
  margin: 0 auto;
  flex-wrap: wrap;
}

.rankWrapper {
  display: flex;
  width: calc(90% * 2 / 6);
  /* position: relative; */
}

.label {
  border-top: 2px solid var(--border);
  color: var(--grey);
  text-align: center;
  /* text-transform: uppercase; */
  letter-spacing: 0.025rem;
  font-weight: 700;
  font-size: 1rem;
  width: 100%;
  margin: 5px auto 0px auto;
}

@media (min-width: 640px) {
  .label {
    font-size: 0.8vw;
  }
}
