.root {
  display: flex;
  flex-direction: column;
}

.container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.rankWrapper {
  display: flex;
}

.label {
  border-top: 2px solid var(--border);
  color: var(--grey);
  text-align: center;
  /* text-transform: uppercase; */
  letter-spacing: 0.025rem;
  font-weight: 700;
  font-size: 13px;
  max-width: 168px;
  width: 100%;
  margin: 5px auto 0px auto;
}
