.root {
  display: flex;
  flex-direction: column;
}

.container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.rankWrapper {
  display: flex;
}

.label {
  border-top: 2px solid var(--border);
  color: var(--grey);
  text-align: center;
  /* text-transform: uppercase; */
  letter-spacing: 0.025rem;
  font-weight: 700;
  font-size: 13px;
  max-width: 168px;
  width: 100%;
  margin: 5px auto 0px auto;
}

.button {
  width: 12px;
  border: 1px solid;
  margin: 1.5px 1px;
  cursor: pointer;
  height: 35px;
  outline: none;
  padding: 0;
  border-radius: 3px;
  transition-duration: 0.1s;
}

.disabled {
  opacity: 0.3;
}

.selected {
  border-color: var(--white) !important;
}

.button:hover {
  transform: scale(1.5);
}

.button:active {
  border-color: var(--white) !important;
}
