.root {
  display: flex;
  flex-grow: 1;
  grid-area: status;
  box-shadow: 0 7px 14px rgba(10, 10, 10, 0.2), 0 3px 6px rgba(0, 0, 0, 0.1);
  width: 100%;
  padding: 10px 20px;
  flex-direction: column;
  background-color: var(--secondary-grey);
  border: 1px solid var(--tertiary-grey);
  border-radius: 16px;
  min-height: 90px;
}

.wrapper {
  display: flex;
  width: 100%;
  flex: 1;
  flex-direction: row;
  justify-content: center;
}

.container {
  display: flex;
  flex: 2;
  margin: 0px;
  justify-content: center;
  align-items: center;
}

.status {
  padding: 5px;
}

.status > h3 {
  margin: 5px 0;
}

.status > span {
  color: var(--grey);
}

.status > span > b {
  color: var(--accent);
}

@media (min-width: 650px) {
  .root {
    flex-direction: row;
  }

  .container {
    margin: 0;
    justify-content: flex-start;
  }

  .wrapper {
    justify-content: flex-end;
  }
}
