.root {
  display: flex;
  flex-grow: 1;
  grid-area: status;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2);
  width: 100%;
  padding: 10px 20px;
  flex-direction: column;
  background-color: var(--secondary-grey);
  border: 2px solid var(--tertiary-grey);
  border-radius: 16px;
}

.wrapper {
  display: flex;
  width: 100%;
  flex: 1;
  flex-direction: row;
  justify-content: center;
}

.status {
  display: flex;
  flex: 1;
  margin: 0px 0px 15px 0px;
  justify-content: center;
  align-items: center;
}

.status > h3 {
  margin: 0 0 0 15px;
}

@media (min-width: 650px) {
  .root {
    flex-direction: row;
  }

  .status {
    margin: 0;
    justify-content: flex-start;
  }

  .wrapper {
    justify-content: flex-end;
  }
}
