.root {
  width: 100%;
  padding: 0 25px;
}

.container {
  display: flex;
  flex-grow: 1;
  max-width: 765px;
  width: 100%;
  padding: 25px;
  margin: 15px auto;
  background-color: var(--quartinary-grey);
  border-radius: 16px;
}

.status {
  display: flex;
  flex-grow: 1;
  margin: 0;
}
