.root {
  width: 100%;
  display: flex;
  position: relative;
  box-shadow: 5px 0px 15px 0px rgba(0, 0, 0, 0.3);
  z-index: 30;
  flex-direction: column;
  background-color: var(--primary-grey);
}

.container {
  margin: 5px 10px;
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
  overflow-y: auto;
  flex-direction: row;
}

.filter {
  background-color: var(--secondary-grey);
}

.notice {
  color: var(--white);
  margin: 10px;
  padding: 25px;
  font-size: 15px;
  box-shadow: 0px 0px 15px rgb(0, 0, 0, 0.12);
  border-radius: 16px;
  background-color: var(--secondary-grey);
}

.notice > span {
  color: var(--grey);
}

.button {
  width: 100%;
  cursor: pointer;
  margin: 5px 10px 5px 10px;
  display: flex;
  padding: 25px 25px;
  border-radius: 16px;
  outline: none;
  border: 2px solid transparent;
  background-color: var(--primary-grey);
  flex-direction: column;
  transition-duration: 0.15s;
}

.selected {
  background-color: var(--secondary-grey);
  border: 2px solid var(--tertiary-grey);
  /* box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2); */
}

.button:hover {
  background-color: var(--secondary-grey);
  border: 2px solid var(--tertiary-grey);
  /* box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2); */
}

/* .button:active {
  background-color: var(--secondary-grey);
  border: 2px solid var(--tertiary-grey);
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
} */

.header {
  display: flex;
  color: var(--secondary-white);
  margin: 0;
  width: 100%;
  font-size: 17px;
  margin-bottom: 10px;
  transition-duration: 0.15s;
}

.header > span {
  color: var(--accent);
  font-size: 17px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: left;
  width: 55px;
}

.header > h2 {
  margin: 0;
  font-size: 17px;
  font-weight: 700;
}

.header > h3 {
  margin: 0;
  color: var(--accent);
  margin-left: auto;
  font-size: 15px;
  font-weight: 400;
}

.button > p {
  color: var(--grey);
  margin: 0;
  text-align: left;
  font-size: 16px;
}

@media (min-width: 640px) {
  .button {
    width: 45%;
  }
}

@media (min-width: 1025px) {
  .root {
    height: 100%;
    /* border-right: 2px solid var(--border); */
    border-radius: 0 18px 18px 0;
  }

  .container {
    flex-wrap: nowrap;
    flex-direction: column;
  }

  .button {
    width: auto;
  }

  .filter {
    border-radius: 0 18px 0 0;
  }
}
