.root {
  width: 100%;
  display: flex;
  position: relative;
  /* box-shadow: 5px 0px 5px 0px rgba(0, 0, 0, 0.2); */
  z-index: 30;
  flex-direction: column;
  background-color: var(--primary-grey);
}

.container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(min-content);
  /* gap: 10px; */
  height: 100%;
  border-bottom: 1px solid var(--border);
  overflow-y: auto;
}

.wrapper {
  margin: 5px 0px;
  overflow-y: auto;
}

.filter {
  background-color: var(--secondary-grey);
}

.notice {
  color: var(--white);
  margin: 10px 15px;
  padding: 25px;
  font-size: 15px;
  border: 1px solid var(--tertiary-grey);
  box-shadow: 0 6px 12px -4px rgba(10, 10, 10, 0.3), 0 3px 7px -5px rgba(0, 0, 0, 0.3);
  border-radius: 18px;
  will-change: box-shadow;
  background-color: var(--secondary-grey);
}

.notice > span {
  color: var(--grey);
}

.button {
  cursor: pointer;
  margin: 10px;
  display: flex;
  padding: 25px;
  border-radius: 18px;
  outline: none;
  border: 1px solid transparent;
  box-shadow: 0 6px 12px -4px rgba(10, 10, 10, 0.3), 0 3px 7px -5px rgba(0, 0, 0, 0.3);
  background-color: var(--primary-grey);
  flex-direction: column;
  transition: all 0.15s ease;
}

.selected {
  background-color: var(--secondary-grey);
  border: 1px solid var(--tertiary-grey);
}

.button:active {
  box-shadow: 0 6px 12px -4px rgba(10, 10, 10, 0.3), 0 3px 7px -5px rgba(0, 0, 0, 0.3);
}

/* .button:active {
  background-color: var(--secondary-grey);
  border: 1px solid var(--tertiary-grey);
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
} */

.header {
  display: flex;
  color: var(--secondary-white);
  margin: 0;
  width: 100%;
  font-size: 17px;
  margin-bottom: 5px;
  transition-duration: 0.15s;
}

.header > span {
  color: var(--accent);
  font-size: 17px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: left;
  width: 55px;
}

.header > h2 {
  margin: 0;
  font-size: 17px;
  font-weight: 700;
}

.selectedText {
  margin: 0;
  color: var(--accent);
  font-size: 15px;
  font-weight: 400;
  height: 15px;
}

.button > p {
  color: var(--grey);
  margin: 0;
  margin-top: 5px;
  text-align: left;
  font-size: 16px;
}

@media (min-width: 640px) {
  .container {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(4, min-content);
  }
}

@media (min-width: 1025px) {
  .root {
    height: 100%;
    border-right: 1px solid var(--border);
    /* border-radius: 0 18px 18px 0; */
  }

  .button:hover {
    background-color: var(--secondary-grey);
    border: 1px solid var(--tertiary-grey);
    box-shadow: 0 7px 14px rgba(10, 10, 10, 0.2), 0 3px 6px rgba(0, 0, 0, 0.1);
  }

  .container {
    grid-template-columns: 1fr;
    border-bottom: none;
    grid-template-rows: repeat(4, min-content);
  }
}
