.root {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 0.31fr;
  grid-area: botNav;
  color: var(--white);
  height: auto;
  width: 100%;
  justify-content: center;
  bottom: 0;
  background-color: var(--secondary-grey);
  z-index: 50;
  position: relative;
  border-top: 1px solid var(--border);
  /* box-shadow: 5px 0px 20px rgb(0, 0, 0, 0.3); */
}

.container {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: var(--secondary-white);
  border-right: 1px solid var(--border);
  line-height: 1;
  flex: 1;
  padding: 15px;
}

.container:nth-child(4) {
  border-right: none;
}

.container > h3 {
  font-size: 19px;
  margin: 0;
  text-transform: uppercase;
}

.container > span {
  font-size: 17px;
  margin-top: 5px;
  color: var(--grey);
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;
  border: none;
  margin: 10px;
  border-radius: 16px;
  min-height: 55px;
  cursor: pointer;
  color: var(--white);
  text-transform: uppercase;
  letter-spacing: 0.8px;
  transition-duration: 0.2s;
  grid-column: 1 / 5;
  grid-row: 2 / 3;
  box-shadow: 0 4px 6px rgba(10, 10, 10, 0.2), 0 1px 3px rgba(0, 0, 0, 0.08);
  font-weight: 700;
  font-size: 20px;
}

.button:hover {
  transform: translateY(-1px);
  box-shadow: 0 7px 14px rgba(10, 10, 10, 0.2), 0 3px 6px rgba(0, 0, 0, 0.1);
}

.button:active {
  transform: translateY(1px);
  box-shadow: 0 6px 12px -4px rgba(10, 10, 10, 0.3), 0 3px 7px -5px rgba(0, 0, 0, 0.3);
}

@media (min-width: 640px) {
  .root {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 0.31fr;
  }

  .button {
    margin: 10px;
  }
}

@media (min-width: 1024px) {
  .root {
    grid-template-columns: 1fr 1fr 1fr 1fr 1.244fr;
    grid-template-rows: 1fr;
    position: fixed;
    height: 90px;
  }

  .button {
    display: flex;
    justify-content: center;
    margin: 15px;
    grid-column: 5 / 6;
    grid-row: 1 / 2;
  }

  .container:nth-child(4) {
    border-right: 1px solid var(--border);
  }
}
