.root {
  top: 0;
  width: 100%;
  z-index: 50;
  display: flex;
  position: relative;
  height: 75px;
  justify-content: center;
  background-color: var(--secondary-grey);
  /* box-shadow: 5px 0px 20px rgb(0, 0, 0, 0.3); */
}

.container {
  display: none;
  position: relative;
  flex-grow: 1;
}

.logo {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  padding: 0 45px;
  height: 100%;
  width: 100%;
  cursor: pointer;
  transition-duration: 0.15s;
  border-bottom: 1px solid var(--border);
  color: var(--white);
  text-transform: uppercase;
  font-family: 'avant';
  font-size: 32px;
}

.logo:hover {
  border-color: var(--accent);
  color: var(--accent);
}

@media (min-width: 1025px) {
  .root {
    position: fixed;
    margin-top: 0;
  }

  .logo {
    max-width: 205px;
  }

  .container {
    display: flex;
  }
}

@media (min-width: 640px) {
  .root {
    justify-content: flex-start;
  }
}
