.tertiary {
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden;
  border-bottom: 2px solid var(--secondary-grey);
  margin: 0 0 100px 0;
}

.root {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1080px;
  padding: 0px 20px;
  margin: 0 auto 0 auto;
}

.wrapper {
  display: flex;
  flex-direction: column;
}

.hero {
  display: flex;
  flex-direction: column;
  padding: 70px 0px;
}

.hero > h1 {
  display: flex;
  font-family: 'caros';
  color: var(--white);
  font-size: 1.5rem;
  margin: 0 0 15px 0;
  justify-content: center;
  text-align: center;
  text-shadow: 1px 2px 3px rgba(0, 0, 0, 0.5);
  text-transform: uppercase;
}

.hero > p {
  display: flex;
  text-align: center;
  justify-content: center;
  color: var(--secondary-white);
  opacity: 1;
  margin: 0;
  align-self: center;
  text-shadow: 1px 2px 3px rgba(0, 0, 0, 0.5);
  font-size: 1.1rem;
  line-height: 25px;
}

.container {
  display: flex;
  flex-direction: column;
  flex: 1;
  border-top: 2px solid var(--secondary-grey);
  padding: 35px 0px;
  font-size: 1.1rem;
}

.container > h1 {
  font-family: 'caros';
  color: var(--white);
  letter-spacing: 0.025em;
  font-size: 1.5rem;
  margin: 0;
  justify-content: flex-start;
  text-shadow: 1px 2px 3px rgba(0, 0, 0, 0.5);
  text-transform: uppercase;
}

.container > p {
  margin: 15px 0px;
  font-size: 1.1rem;
  color: var(--secondary-white);
  line-height: 25px;
}

.container > span {
  color: var(--grey);
  text-decoration: none !important;
  margin-top: auto;
  cursor: pointer;
  transition-duration: 0.25s;
  font-size: 1rem;
}

.container > span:hover {
  color: var(--secondary-white);
}

.container > span::after {
  content: '\2192';
  font-size: 1.3rem;
  padding-left: 5px;
}

@media (min-width: 650px) {
  .root {
    flex-direction: column;
  }

  .wrapper {
    flex-direction: row;
  }

  .container:first-child {
    padding: 70px 70px 70px 0px;
    border-right: 1px solid var(--secondary-grey);
  }

  .container:last-child {
    padding: 70px 0px 70px 70px;
    border-left: 1px solid var(--secondary-grey);
  }
}
