.root {
  height: 800px;
  position: relative;
}

.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1140px;
  padding: 0px 20px;
  margin: 0 auto 100px auto;
}

.container > h1 {
  display: flex;
  font-family: 'avant';
  color: var(--white);
  font-size: 2.2em;
  margin: 0 0 30px 0;
  justify-content: center;
  text-align: center;
  text-shadow: 1px 2px 3px rgba(0, 0, 0, 0.5);
  text-transform: uppercase;
}

.container > p {
  display: flex;
  text-align: center;
  justify-content: center;
  color: var(--secondary-white);
  max-width: 825px;
  opacity: 1;
  margin: 0;
  align-self: center;
  text-shadow: 1px 2px 3px rgba(0, 0, 0, 0.5);
  font-size: 20px;
}