.root {
  display: flex;
  flex-direction: column;
  grid-area: chat;
  width: 100%;
  padding: 20px;
  /* height: 600px; */
  border-radius: 16px;
  background-color: var(--secondary-grey);
  border: 1px solid var(--tertiary-grey);
  box-shadow: 0 7px 14px rgba(10, 10, 10, 0.2), 0 3px 6px rgba(0, 0, 0, 0.1);
  color: var(--white);
  text-align: center;
}

.root > h3 {
  margin: 0 0 5px 0;
}

.root > span {
  color: var(--grey);
  margin: 0 0 10px 0;
}

.root > div {
  display: flex;
  flex-direction: column;
}

.wrapper {
  display: flex;
  flex-direction: column;
  flex: 1;
  background-color: var(--primary-grey);
  padding: 15px;
  border-radius: 16px;
  width: 100%;
}

.wrapper:first-child {
  margin-bottom: 15px;
}

.wrapper > h3 {
  margin: 0px 0px 15px 0px;
}

.container {
  padding: 15px;
  flex-basis: 200px;
  height: 180px;
  max-height: 180px;
  margin-bottom: 20px;
  /* overflow-y: auto; */
}

.scroll {
  display: flex;
  height: 100%;
  flex-direction: column;
  overflow-y: auto;
  max-height: 100%;
}

.container:last-child {
  margin-bottom: 0px;
}

.list {
  height: 100%;
  overflow-y: auto;
  text-align: left;
  border-radius: 18px;
  padding: 0px;
}

.championItem {
  display: flex;
  margin-bottom: 10px;
}

.championItem > img {
  width: 38px;
  height: 38px;
  border-radius: 50%;
  overflow: hidden;
  border: 1px solid var(--tertiary-grey);
  transition-duration: 0.1s;
}

.championItem > span {
  display: flex;
  align-items: center;
  margin-left: 10px;
}

.cancel {
  outline: none;
  border: none;
  background-color: transparent;
  margin-left: auto;
  margin-right: 5px;
  width: 32px;
  padding: 0;
  cursor: pointer;
}

.cancelImage {
  width: 25px;
  height: 25px;
  fill: red;
}

@media (min-width: 640px) {
  .root > div {
    flex-direction: row;
  }

  .scroll {
    flex-direction: row;
    width: 100%;
  }

  .wrapper {
    margin: 10px 10px 0 0;
  }

  .wrapper:last-child {
    margin-right: 0;
  }

  .wrapper:first-child {
    margin-bottom: 0px;
  }
}

@media (min-width: 1025px) {
  .root > div {
    flex-direction: column;
  }

  .scroll {
    flex-direction: column;
    width: 100%;
  }

  .wrapper:first-child {
    margin: 0;
    margin-bottom: 15px;
  }

  .list {
    /* height: 100%; */
    /* max-height: 456px; */
  }
}
