.root {
  display: flex;
  flex-direction: column;
  grid-area: champions;
  width: 100%;
  padding: 20px;
  /* height: 600px; */
  border-radius: 16px;
  background-color: var(--secondary-grey);
  border: 1px solid var(--tertiary-grey);
  box-shadow: 0 7px 14px rgba(10, 10, 10, 0.2), 0 3px 6px rgba(0, 0, 0, 0.1);
  color: var(--white);
  text-align: center;
}

.root > h3 {
  margin: 0 0 5px 0;
}

.root > span {
  color: var(--grey);
  margin: 0 0 10px 0;
}

.wrapper {
  display: flex;
  flex-direction: column;
  flex: 1;
  background-color: var(--primary-grey);
  padding: 15px;
  border-radius: 16px;
  width: 100%;
}

.wrapper > h3 {
  margin: 0px 0px 5px 0px;
}

.container {
  padding: 15px;
  flex-basis: 200px;
  height: 180px;
  max-height: 180px;
  margin-bottom: 20px;
  /* overflow-y: auto; */
}

.scroll {
  display: flex;
  height: 100%;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  max-height: 100%;
  min-height: 56px;
}

.container:last-child {
  margin-bottom: 0px;
}

.list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 15px;
  height: 100%;
  border-radius: 16px;
  text-align: left;
}

.championItem {
  display: flex;
  margin: 5px;
  width: 46px;
  height: 46px;
  padding: 0;
  cursor: pointer;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-origin: center;
  border: none;
  outline: none;
  overflow: hidden;
}

.cancel {
  outline: none;
  border: none;
  background-color: transparent;
  margin-left: auto;
  margin-right: 5px;
  width: 32px;
  padding: 0;
  cursor: pointer;
}

.cancelImage {
  width: 25px;
  height: 25px;
  fill: red;
}

@media (min-width: 640px) {
  .scroll {
    flex-direction: column;
    width: 100%;
    height: 100%;
  }
}

@media (min-width: 1025px) {
  .scroll {
    flex-direction: row;
    width: 100%;
  }
}
