.root {
  height: 650px;
  position: relative;
}

.container {
  position: absolute;
  width: 100%;
  height: 100%;
  transform: skewY(-10deg);
  transform-origin: top left;
  overflow: hidden;
}

.container::before {
  content: '';
  position: absolute;
  bottom: 0;
  z-index: -1;
  width: 100%;
  height: calc(100% + 18vw);
  transform: skewY(10deg);
  opacity: 0.5;
  background: no-repeat url('/static/images/art/darius.jpg');
  background-size: cover;
  transform-origin: bottom left;
}

.container::after {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  bottom: 0px;
  width: 100%;
  height: 30%;
  background: linear-gradient(180deg, transparent 10%, #2c2c2c 85%);
}

.content {
  transform: skewY(10deg);
  transform-origin: 0;
}
