@font-face {
  font-family: 'Museo Sans Rounded';
  src: url('../fonts/museosansrounded-500.woff2') format('woff2');
  font-weight: 500;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'Museo Sans Rounded';
  src: url('../fonts/museosansrounded-700.woff2') format('woff2');
  font-weight: 700;
  font-display: swap;
  font-style: bold;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  scrollbar-color: #999 #353535;
  scrollbar-width: thin;
}

:root {
  --white: #fafafa;
  --grey: #999;
  --primary-grey: #353535;
  --quartinary-grey: #252525;
  --tertiary-grey: #292929;
  --secondary-grey: #323232;
  --accent: #4285F4;
}

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: var(--secondary-grey);
  color: #f0f0f0;
  font-size: 100%;
  min-height: 100vh;
  font-family: 'Museo Sans Rounded', 'Open Sans', 'Segoe UI', 'sans-serif';
  font-weight: normal;
  font-style: normal;
  text-rendering: optimizeLegibility;
}

@media (min-width: 1025px) {
  ::-webkit-scrollbar {
    width: 8px;
  }
  ::-webkit-scrollbar-thumb {
    background-color: #999;
    border-radius: 6px;
    box-shadow: inset 0 0 6px 0 rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: inset 0 0 6px 0 rgba(0, 0, 0, 0.2);
  }

  ::-webkit-scrollbar-track {
    background-color: #353535;
    box-shadow: inset 0 0 6px 0 transparent;
    -webkit-box-shadow: inset 0 0 6px 0 transparent;
  }

  ::-webkit-scrollbar-button {
    width: 0;
    height: 0;
    display: none;
  }
}
