/* .braintree-form {
  background-color: #292929 !important;
  border-radius: 16px;
  border: none;
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.2);
}

.braintree-sheet__text {
  color: white !important;
}

.braintree-sheet__header .braintree-sheet__container {
  border-radius: 16px;
}

.braintree-loaded .braintree-upper-container:before {
  border-radius: 16px;
}

.braintree-sheet__content--form .braintree-form__field-group .braintree-form__label {
  color: white;
}

.braintree-dropin * {
  border-radius: 8px;
  border-color: #999;
} */