[data-braintree-id="upper-container"] {
  border-radius: 12px;
  border: none;
  color: #fafafa;
}

[data-braintree-id="upper-container"]:before {
  border-radius: 12px;
  border: none;
  color: #fafafa;
  background-color: #323232;
}

[data-braintree-id="options"] {
  /* display: none; */
  color: white;
  border-radius: 12px !important;
}

[data-braintree-id="choose-a-way-to-pay"] {
  color: #fafafa;
}

[data-braintree-id="toggle"] {
  background-color: #323232;
  border-color: #999;
  color: #fafafa;
  outline: none;
  transition-duration: 0.2s;
  border-radius: 12px;
}

[data-braintree-id="toggle"]:hover {
  background-color: #383838;
  font-weight: normal;
  transform: translateY(-2px);
}

[data-braintree-id="toggle"]:hover span {
  border-color: white;
}

[data-braintree-id="toggle"]:active {
  transform: translateY(2px);
}

[data-braintree-id="card"] {
  background-color: #323232;
  border-radius: 12px;
  border: none;
  color: #fafafa;
}

[data-braintree-id="card-sheet-header"] {
  border-radius: 12px;
  border: none;
  color: #fafafa;
}

[data-braintree-id="number-field-group"] label > div {
  color: white !important;
}

[data-braintree-id="number-field-group"] label > div > div {
  border-radius: 8px;
}

[data-braintree-id="payment-options-container"] {
  padding-bottom: 0;
  border-radius: 12px !important;
}

[data-braintree-id="payment-options-container"] div {
  background-color: #323232;
  border: none;
}

[data-braintree-id="payment-options-container"]:first-child {
  border-radius: 0px 0px 12px 12px !important
}

[data-braintree-id="payment-options-container"] div:hover {
  background-color: #323232;
}

[data-braintree-id="payment-options-container"] div > div {
  color: #fafafa !important;
}
