.root {
  padding: 0 25px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  grid-area: hero;
  padding: 24px;
  max-width: 765px;
  margin: 0 auto 30px auto;
  border-radius: 18px;
  background-color: var(--quartinary-grey);
  color: var(--white);
}

.container > span {
  margin: 10px 0 10px 0;
  color: var(--secondaryWhite);
}

.container > h3 {
  margin: 0 0 15px 0;
  color: var(--white);
}

.wrapper {
  display: flex;
  flex: 1;
  justify-content: flex-start;
  flex-direction: column;
  padding-left: 15px;
  width: 100%;
  height: 100%;
}

.form {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  color: var(--secondary-white);
  margin-top: 20px;
}

.formWrapper:nth-child(1) {
  margin-right: 10px !important;
}

.formInput {
  outline: none;
  border: none;
  border-radius: 8px;
  padding: 10px;
  background-color: var(--primary-grey);
  color: var(--white);
}

.formWrapper {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: flex-start;
  margin: 5px 0px 5px 0px;
  text-align: left;
}

.formWrapper > span {
  margin-bottom: 5px;
}

.rolesContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 100%;
}

.rolesWrapper {
  display: flex;
  flex-direction: column;
  color: var(--secondary-white);
  font-size: 16px;
}

.rolesWrapper > span {
  margin: 0 0 5px 5px;
}

.roles {
  display: flex;
  flex-direction: row;
  background-color: var(--primary-grey);
  margin-right: 10px;
  padding: 3px;
  border-radius: 8px;
}

.rolesDisplay {
  display: flex;
  flex-direction: row;
  margin: 0 40px 15px 0;
  align-items: center;
}

.rolesDisplay > span {
  width: 100%;
  margin: 0;
}

.rolesDisplay > img {
  width: 20px;
}

.role {
  display: flex;
  min-width: 36px;
  height: 36px;
  background-color: var(--primary-grey);
  outline: none;
  border: none;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  transition-duration: 0.2s;
  cursor: pointer;
}

.roleSelected {
  background-color: var(--quartinary-grey);
}

.role:hover {
  background-color: var(--quartinary-grey);
}

.notes {
  font-size: 14px;
  line-height: 24px;
  padding: 15px;
  border: none;
  white-space: pre-wrap;
  width: 100%;
  border-radius: 6px;
  resize: vertical;
  outline: none;
  color: var(--white);
  background-color: var(--primary-grey);
  height: 100px;
}

.button {
  display: inline-block;
  outline: none;
  border: none;
  margin: 15px 0px;
  /* width: 100%; */
  border-radius: 12px;
  min-height: 45px;
  cursor: pointer;
  color: var(--white);
  background-color: var(--accent);
  text-transform: uppercase;
  letter-spacing: 0.8px;
  transition-duration: 0.2s;
  font-weight: 700;
  font-size: 20px;
}

@media (min-width: 650px) {
  .container {
    flex-direction: row;
    align-items: flex-start;
  }
}
