.root {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 85vh;
  padding: 20px;
}

.container {
  display: flex;
  flex-direction: column;
  background-color: var(--secondary-grey);
  border-radius: 16px;
  max-width: 400px;
  box-shadow: 0 7px 14px rgba(10, 10, 10, 0.2), 0 3px 6px rgba(0, 0, 0, 0.1);
  padding: 20px;
  text-align: center;
}

.container > h3 > b {
  color: var(--accent);
}
