.root {
  display: flex;
  flex-direction: column;
  grid-area: chat;
  width: 100%;
  padding: 20px;
  border-radius: 16px;
  background-color: var(--secondary-grey);
  border: 1px solid var(--tertiary-grey);
  box-shadow: 0 7px 14px rgba(10, 10, 10, 0.2), 0 3px 6px rgba(0, 0, 0, 0.1);
  color: var(--white);
}
.root > h3 {
  margin: 10px 0px 20px 0;
}

.container {
  display: flex;
  flex-direction: column;
  height: 75%;
  width: 100%;
  padding: 15px;
  background: var(--primary-grey);
  border-radius: 16px;
}

.scroll {
  display: flex;
  flex-direction: column;
  overflow: auto;
}

.inputContainer {
  display: flex;
  position: relative;
  z-index: 25;
  margin: auto 5px 10px 5px;
}

.input {
  position: relative;
  width: 100%;
  border: none;
  color: white;
  background-color: transparent;
  font-size: 1rem;
  border-bottom: 2px solid var(--primary-grey);
  outline: none;
  padding: 5px 10px;
}

.message {
  display: flex;
  flex-direction: column;
  position: relative;
  margin: 10px 5px 10px 0px;
  border-radius: 16px;
}

.message > span {
  font-size: 1rem;
  padding: 5px;
}

.message > div {
  position: relative;
  z-index: 21;
  padding: 10px;
  font-size: 1rem;
  word-wrap: break-word;
  color: white;
  max-width: 100%;
  border-radius: 8px;
}

.alignLeft {
  align-self: flex-start;
}

.alignRight {
  align-self: flex-end;
}

.blue {
  background-color: var(--accent) !important;
}

.green {
  background-color: var(--green) !important;
}
