.root {
  display: flex;
  flex-direction: column;
  grid-area: chat;
  width: 100%;
  padding: 25px;
  border-radius: 16px;
  background-color: var(--secondary-grey);
  border: 2px solid var(--tertiary-grey);
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2);
  color: var(--white);
}

.root > h3 {
  margin: 0 0 30px 0;
}

.container {
  background-color: var(--primary-grey);
  padding: 15px;
  border-radius: 16px;
  height: 50%;
  margin-bottom: 20px;
}

.container:last-child {
  margin-bottom: 0px;
}
