.root {
  display: flex;
  flex-direction: column;
}

.container {
  padding: 0px 20px;
}

.wrapper {
  display: grid;
  max-width: 1080px;
  margin: 0px auto 30px auto;
  gap: 20px;
  height: 100%;
  grid-template-columns: 1fr;
  grid-template-rows: min-content min-content min-content min-content 550px min-content;
  grid-template-areas:
    'admin'
    'status'
    'details'
    'champions'
    'chat'
    'display';
}

.controls {
  border-radius: 16px;
  background-color: var(--secondary-grey);
  border: 1px solid var(--tertiary-grey);
  box-shadow: 0 7px 14px rgba(10, 10, 10, 0.2), 0 3px 6px rgba(0, 0, 0, 0.1);
  grid-area: controls;
}

.controlsWrapper {
  display: flex;
  flex: 1;
  padding: 25px;
  justify-content: flex-start;
  flex-direction: column;
  width: 100%;
}

.controlsWrapper > h3 {
  margin: 0 0 15px 0;
}

.adminContainer {
  border-radius: 8px;
  padding: 10px 15px;
  background-color: var(--primary-grey);
}

.adminContainer > h3 {
  margin: 10px 0px;
  font-size: 1rem;
}

.adminContainer > div {
  padding: 10px;
  background-color: var(--secondary-grey);
  margin: 10px 0px;
  border-radius: 8px;
}

.reveal {
  outline: none;
  border: none;
  background-color: transparent;
  padding: 10px 0px;
  cursor: pointer;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--accent);
  width: 100%;
}

.select {
  border: none;
  outline: none;
  box-shadow: none;
  padding: 5px;
  border: 1px solid var(--tertiary-grey);
  background-color: var(--secondary-grey);
  color: var(--secondary-white);
  border-radius: 8px;
  height: 30px;
  width: 100%;
}

.accountDetails {
  grid-area: account;
  border-radius: 16px;
  background-color: var(--secondary-grey);
  border: 1px solid var(--tertiary-grey);
  box-shadow: 0 7px 14px rgba(10, 10, 10, 0.2), 0 3px 6px rgba(0, 0, 0, 0.1);
}

.matches {
  display: flex;
  width: 100%;
  height: min-content;
  min-height: 550px;
  background-color: var(--secondary-grey);
  border-radius: 16px;
  border: 1px solid var(--tertiary-grey);
  box-shadow: 0 7px 14px rgba(10, 10, 10, 0.2), 0 3px 6px rgba(0, 0, 0, 0.1);
  grid-area: matches;
}

@media (min-width: 660px) {
  .wrapper {
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 90px 400px 550px;
    grid-template-areas:
      'details status'
      'details champions'
      'details display'
      'chat matches'
      'admin .';
  }
}

@media (min-width: 1025px) {
  .wrapper {
    grid-template-columns: 275px 1fr 275px;
    grid-template-rows: 90px 500px 550px min-content;
    grid-template-areas:
      'details status  status'
      'details display champions'
      'matches matches chat'
      'matches matches .';
    /* 'admin . .'; */
  }
}

.error {
  display: flex;
  flex-direction: column;
  min-height: 70vh;
  align-items: center;
}
