.root {
  display: flex;
  flex-direction: column;
}

.container {
  padding: 0px 25px;
}

.wrapper {
  display: grid;
  max-width: 1075px;
  margin: 0px auto 30px auto;
  gap: 20px;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: min-content 1fr;
  grid-template-areas:
    'details status  status'
    'details display chat';
}

.error {
  display: flex;
  flex-direction: column;
  min-height: 70vh;
  align-items: center;
}
