.root {
  display: flex;
  flex-direction: column;
}

.container {
  padding: 0px 20px;
}

.wrapper {
  display: grid;
  max-width: 1100px;
  margin: 0px auto 30px auto;
  gap: 20px;
  grid-template-columns: 1fr;
  grid-template-rows: min-content min-content min-content min-content;
  grid-template-areas:
    'status'
    'details'
    'chat'
    'display';
}

@media (min-width: 640px) {
  .wrapper {
    grid-template-columns: 1fr 2fr;
    grid-template-rows: min-content min-content 1fr;
    grid-template-areas:
      'details status'
      'details chat'
      'details display'
  }
}

@media (min-width: 1024px) {
  .wrapper {
    grid-template-columns: 275px 2fr 275px;
    grid-template-rows: min-content 1fr;
    grid-template-areas:
      'details status  status'
      'details display chat';
  }
}

.error {
  display: flex;
  flex-direction: column;
  min-height: 70vh;
  align-items: center;
}
