.root {
  display: flex;
  flex-direction: column;
  background-color: var(--secondary-grey);
  border: 1px solid var(--tertiary-grey);
  border-radius: 18px;
  padding: 25px;
  box-shadow: 0 4px 4px rgba(10, 10, 10, 0.2), 0 1px 3px rgba(0, 0, 0, 0.08);
  margin: 10px;
}

.root > p {
  color: var(--secondary-white);
  margin: 0;
  font-size: 16px;
  margin-bottom: 10px;
}

.root > h2 {
  font-size: 20px;
  margin: 0;
  color: var(--white);
  margin-bottom: 10px;
}

.lp {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0 -15px;
  justify-content: center;
}

.promos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: row;
  margin: 25px 0 0px 0;
}

.promos > h2 {
  font-size: 20px;
  margin: 0;
  width: 100%;
  margin-bottom: 10px;
}

.promoSection {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-evenly;
  min-width: 165px;
  margin: 0 auto;
}

.promoSection > span {
  margin: 5px;
  width: 45px;
  text-align: center;
}

.promo {
  cursor: pointer;
  height: 32px;
  width: 32px;
  border-radius: 8px;
  border: none;
  outline: none;
  display: flex;
  margin: 2.5px;
  padding: 0;
  justify-content: center;
  font-weight: 700;
  background-color: var(--primary-grey);
  transition-duration: 0.2s;
}

.promo:hover {
  transform: translateY(1px);
}

.promo:active {
  transform: translateY(-1px);
}

.selected {
  background-color: var(--accent);
}
