.root {
  width: 100%;
  min-height: 350px;
  display: flex !important;
  border-top: 1px solid var(--border);
  position: relative;
  z-index: 10;
  flex-direction: column;
  background-color: var(--primary-grey);
  color: var(--secondary-white);
}

.filter {
  display: flex;
  background-color: var(--secondary-grey);
}

.container {
  display: inherit;
}

.content {
  flex-direction: column;
  overflow-y: overlay;
  padding: 5px;
  margin-right: 5px;
}

@media (min-width: 1025px) {
  .root {
    height: 100%;
    border-left: 1px solid var(--border);
    border-top: none;
    /* box-shadow: -5px 0px 5px 0px rgba(0, 0, 0, 0.2); */
  }

  .filter {
    display: none;
  }

  .container {
    display: none;
  }
}
