.root {
  width: 100%;
  min-height: 350px;
  display: flex !important;
  position: relative;
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.4);
  flex-direction: column;
  background-color: var(--tertiary-grey);
  color: var(--secondary-white);
  border-left: 1px solid var(--field);
}

.filter {
  display: flex;
}

.container {
  display: inherit;
}

.content {
  flex-direction: column;
  overflow-y: auto;
  margin: 0 10px 0 10px;
}

@media (min-width: 1025px) {
  .root {
    width: 400px;
    height: 100%;
    box-shadow: -5px 0px 15px 0px rgba(0, 0, 0, 0.2);
  }

  .filter {
    display: none;
  }

  .container {
    display: none;
  }
}
