.root {
  width: 100%;
  min-height: 350px;
  display: flex !important;
  position: relative;
  flex-direction: column;
  background-color: var(--primary-grey);
  color: var(--secondary-white);
  /* border-left: 2px solid var(--border); */
  /* border-right: 2px solid var(--grey); */
}

.filter {
  display: flex;
  background-color: var(--secondary-grey);
}

.container {
  display: inherit;
}

.content {
  flex-direction: column;
  overflow-y: auto;
  margin: 5px 10px;
}

@media (min-width: 1024px) {
  .root {
    /* width: 400px; */
    height: 100%;
    border-left: 2px solid var(--border);
    /* box-shadow: -5px 0px 5px 0px rgba(0, 0, 0, 0.2); */
    /* border-radius: 18px 0 0 18px ; */
  }

  .filter {
    display: none;
  }

  .container {
    display: none;
  }
}
