.root {
  display: flex;
  flex-direction: column;
  background-color: var(--secondary-grey);
  border: 1px solid var(--tertiary-grey);
  border-radius: 18px;
  padding: 25px;
  box-shadow: 0 4px 4px rgba(10, 10, 10, 0.2), 0 1px 3px rgba(0, 0, 0, 0.08);
  margin: 10px 10px 10px 10px;
}

.root > p {
  color: var(--secondary-white);
  margin: 0;
  margin-bottom: 10px;
  font-size: 16px;
}

.root > h2 {
  font-size: 20px;
  margin: 0;
  color: var(--white);
  margin-bottom: 10px;
}

.root > span {
  color: var(--secondary-white);
  margin-bottom: 10px;
}

.wrapper > h2 {
  font-size: 20px;
  margin: 0 0 0 10px;
  color: var(--white);
}

.wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 10px;
}

.wrapper > img {
  border-radius: 8px;
  width: 32px;
  height: 32px;
}
