.rankItem {
  width: calc(47vw / 12);
  height: calc((60vw / 12) * 1.8);
  border: 0.6vw solid;
  margin: 1.5px 1px;
  cursor: pointer;
  outline: none;
  padding: 0;
  border-radius: 3px;
  transition-duration: 0.1s;
}

@media (min-width: 640px) {
  .rankItem {
    width: calc(20vw / 12);
    height: calc((20vw / 8) * 1.8);
    border: 0.2vw solid;
  }
}

@media (min-width: 1025px) {
  .rankItem {
    width: calc(10vw / 12);
    height: calc((10vw / 8) * 1.8);
    border: 0.1vw solid;
  }
}

.unranked {
  background-color: var(--banner-unranked);
  border-color: var(--banner-unranked-trim);
}

.iron {
  background-color: var(--banner-iron);
  border-color: var(--banner-iron-trim);
}

.bronze {
  background-color: var(--banner-bronze);
  border-color: var(--banner-bronze-trim);
}

.silver {
  background-color: var(--banner-silver);
  border-color: var(--banner-silver-trim);
}

.gold {
  background-color: var(--banner-gold);
  border-color: var(--banner-gold-trim);
}

.platinum {
  background-color: var(--banner-plat);
  border-color: var(--banner-plat-trim);
}

.diamond {
  background-color: var(--banner-diamond);
  border-color: var(--banner-diamond-trim);
}

.disabled {
  opacity: 0.3;
  /* background-color: var(--red); */
  cursor: not-allowed;
  transform: scale(1) !important;
}

.selected {
  border-color: var(--white) !important;
}

.rankItem:hover {
  transform: scale(1.6);
  z-index: 10;
}

.rankItem:active {
  border-color: var(--white) !important;
}
