.stripes {
  display: grid;
  position: absolute;
  width: 100%;
  overflow: hidden;
}

.v1 {
  grid: repeat(4, calc(100% / 4)) / repeat(6, 1fr);
  transform: skewY(-10deg);
  transform-origin: 0;
  background-size: cover;
  height: 100vh;
  min-height: 600px;
  max-height: 1140px;
}

.v1::before {
  content: '""';
  position: absolute;
  background: no-repeat url('/static/images/art/ashe.jpg');
  transform: skewY(10deg);
  top: 0px;
  z-index: -1;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.6;
  /* background-position: 10%; */
  background-size: cover;
}

.v2 {
  height: 100%;
  transform: skewY(0deg);
  /* grid: repeat(4, 1fr) / repeat(6, 1fr); */
  background: linear-gradient(150deg, #202020 15%, #343434 70%, #474747 94%);
}

.v3 {
  position: relative !important;
}

.video {
  display: flex;
  align-items: stretch;
  z-index: -1;
  opacity: 0.5;
  position: absolute;
  object-fit: cover;
  object-position: center top;
  width: 100%;
  height: 99.9%;
}

/* .video::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8) !important;
} */

.stripes > span {
  opacity: 1 !important;
}

.stripes span:nth-child(1) {
  grid-column: span 1;
  background: var(--secondary-grey);
  border-radius: 0 16px 16px 0;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2);
}

/* .stripes span:nth-child(2) {
  grid-column: span 2;
  background: #252525;
} */

/* .stripes span:nth-child(3) {
  grid-column: span 4;
  background: #282828;
} */

.stripes span:nth-child(4) {
  grid-column: 6;
  grid-row: 3;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2);
  border-radius: 16px 0 0 16px;
  background: var(--secondary-grey);
}

.stripes span:nth-child(5) {
  display: block;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2);
  grid-column: span 2;
  grid-row: 4;
  background: var(--tertiary-grey);
  border-radius: 0 16px 0 0;
}

.v2 > span {
  display: none !important;
}

@media (min-width: 650px) {
  .v1::before {
    top: 55px;
  }
}
